<!DOCTYPE html>
<html>
  <head>
    <title>FirstRailsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style="background: black; color: aliceblue; padding: 16px;">
      <h2>Navbar</h2>
      <p>Now is <%= Time.now %><p>
      <%= link_to "Go back home", root_path %>
      <%= link_to "About", about_path %>
      <%= link_to "Contacts", contact_path %>
    </div>
    <%= yield %>
  </body>
</html>
